/* VP.CSS 4.12 November 2018 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.VP-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.VP-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.VP-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.VP-table,.VP-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.VP-table-all{border:1px solid #ccc}
.VP-bordered tr,.VP-table-all tr{border-bottom:1px solid #ddd}.VP-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.VP-table-all tr:nth-child(odd){background-color:#fff}.VP-table-all tr:nth-child(even){background-color:#f1f1f1}
.VP-hoverable tbody tr:hover,.VP-ul.VP-hoverable li:hover{background-color:#ccc}.VP-centered tr th,.VP-centered tr td{text-align:center}
.vlnd3-table td,.VP-table th,.VP-table-all td,.VP-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.VP-table th:first-child,.VP-table td:first-child,.VP-table-all th:first-child,.VP-table-all td:first-child{padding-left:16px}
.VP-btn,.VP-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.VP-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.VP-btn,.VP-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.VP-disabled,.VP-btn:disabled,.VP-button:disabled{cursor:not-allowed;opacity:0.3}.VP-disabled *,:disabled *{pointer-events:none}
.VP-btn.VP-disabled:hover,.VP-btn:disabled:hover{box-shadow:none}
.VP-badge,.VP-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.VP-badge{border-radius:50%}
.VP-ul{list-style-type:none;padding:0;margin:0}.VP-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.VP-ul li:last-child{border-bottom:none}
.VP-tooltip,.VP-display-container{position:relative}.VP-tooltip .VP-text{display:none}.VP-tooltip:hover .VP-text{display:inline-block}
.VP-ripple:active{opacity:0.5}.VP-ripple{transition:opacity 0s}
.VP-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.VP-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.VP-dropdown-click,.VP-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.VP-dropdown-hover:hover .VP-dropdown-content{display:block}
.VP-dropdown-hover:first-child,.VP-dropdown-click:hover{background-color:#ccc;color:#000}
.VP-dropdown-hover:hover > .VP-button:first-child,.VP-dropdown-click:hover > .VP-button:first-child{background-color:#ccc;color:#000}
.VP-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.VP-check,.VP-radio{width:24px;height:24px;position:relative;top:6px}
.VP-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.VP-bar-block .VP-dropdown-hover,.VP-bar-block .VP-dropdown-click{width:100%}
.VP-bar-block .VP-dropdown-hover .VP-dropdown-content,.VP-bar-block .VP-dropdown-click .VP-dropdown-content{min-width:100%}
.VP-bar-block .VP-dropdown-hover .VP-button,.VP-bar-block .VP-dropdown-click .VP-button{width:100%;text-align:left;padding:8px 16px}
.VP-main,#main{transition:margin-left .4s}
.VP-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.VP-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.VP-bar{width:100%;overflow:hidden}.VP-center .VP-bar{display:inline-block;width:auto}
.VP-bar .VP-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.VP-bar .VP-dropdown-hover,.VP-bar .VP-dropdown-click{position:static;float:left}
.VP-bar .VP-button{white-space:normal}
.VP-bar-block .VP-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.VP-bar-block.VP-center .VP-bar-item{text-align:center}.VP-block{display:block;width:100%}
.VP-responsive{display:block;overflow-x:auto}
.VP-container:after,.VP-container:before,.VP-panel:after,.VP-panel:before,.VP-row:after,.VP-row:before,.VP-row-padding:after,.VP-row-padding:before,
.VP-cell-row:before,.VP-cell-row:after,.VP-clear:after,.VP-clear:before,.VP-bar:before,.VP-bar:after{content:"";display:table;clear:both}
.VP-col,.VP-half,.VP-third,.VP-twothird,.VP-threequarter,.VP-quarter{float:left;width:100%}
.VP-col.s1{width:8.33333%}.VP-col.s2{width:16.66666%}.VP-col.s3{width:24.99999%}.VP-col.s4{width:33.33333%}
.VP-col.s5{width:41.66666%}.VP-col.s6{width:49.99999%}.VP-col.s7{width:58.33333%}.VP-col.s8{width:66.66666%}
.VP-col.s9{width:74.99999%}.VP-col.s10{width:83.33333%}.VP-col.s11{width:91.66666%}.VP-col.s12{width:99.99999%}
@media (min-width:601px){.VP-col.m1{width:8.33333%}.VP-col.m2{width:16.66666%}.VP-col.m3,.VP-quarter{width:24.99999%}.VP-col.m4,.VP-third{width:33.33333%}
.VP-col.m5{width:41.66666%}.VP-col.m6,.VP-half{width:49.99999%}.VP-col.m7{width:58.33333%}.VP-col.m8,.VP-twothird{width:66.66666%}
.VP-col.m9,.VP-threequarter{width:74.99999%}.VP-col.m10{width:83.33333%}.VP-col.m11{width:91.66666%}.VP-col.m12{width:99.99999%}}
@media (min-width:993px){.VP-col.l1{width:8.33333%}.VP-col.l2{width:16.66666%}.VP-col.l3{width:24.99999%}.VP-col.l4{width:33.33333%}
.VP-col.l5{width:41.66666%}.VP-col.l6{width:49.99999%}.VP-col.l7{width:58.33333%}.VP-col.l8{width:66.66666%}
.VP-col.l9{width:74.99999%}.VP-col.l10{width:83.33333%}.VP-col.l11{width:91.66666%}.VP-col.l12{width:99.99999%}}
.VP-rest{overflow:hidden}.VP-stretch{margin-left:-16px;margin-right:-16px}
.VP-content,.VP-auto{margin-left:auto;margin-right:auto}.VP-content{max-width:980px}.VP-auto{max-width:1140px}
.VP-cell-row{display:table;width:100%}.VP-cell{display:table-cell}
.VP-cell-top{vertical-align:top}.VP-cell-middle{vertical-align:middle}.VP-cell-bottom{vertical-align:bottom}
.VP-hide{display:none!important}.VP-show-block,.VP-show{display:block!important}.VP-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.VP-auto{max-width:95%}}
@media (max-width:600px){.VP-modal-content{margin:0 10px;width:auto!important}.VP-modal{padding-top:30px}
.VP-dropdown-hover.VP-mobile .VP-dropdown-content,.VP-dropdown-click.VP-mobile .VP-dropdown-content{position:relative}	
.VP-hide-small{display:none!important}.VP-mobile{display:block;width:100%!important}.VP-bar-item.VP-mobile,.VP-dropdown-hover.VP-mobile,.VP-dropdown-click.VP-mobile{text-align:center}
.VP-dropdown-hover.VP-mobile,.VP-dropdown-hover.VP-mobile .VP-btn,.VP-dropdown-hover.VP-mobile .VP-button,.VP-dropdown-click.VP-mobile,.VP-dropdown-click.VP-mobile .VP-btn,.VP-dropdown-click.VP-mobile .VP-button{width:100%}}
@media (max-width:768px){.VP-modal-content{width:500px}.VP-modal{padding-top:50px}}
@media (min-width:993px){.VP-modal-content{width:900px}.VP-hide-large{display:none!important}.VP-sidebar.VP-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.VP-hide-medium{display:none!important}}
@media (max-width:992px){.VP-sidebar.VP-collapse{display:none}.VP-main{margin-left:0!important;margin-right:0!important}.VP-auto{max-width:100%}}
.VP-top,.VP-bottom{position:fixed;width:100%;z-index:1}.VP-top{top:0}.VP-bottom{bottom:0}
.VP-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.VP-display-topleft{position:absolute;left:0;top:0}.VP-display-topright{position:absolute;right:0;top:0}
.VP-display-bottomleft{position:absolute;left:0;bottom:0}.VP-display-bottomright{position:absolute;right:0;bottom:0}
.VP-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.VP-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.VP-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.VP-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.VP-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.VP-display-container:hover .VP-display-hover{display:block}.VP-display-container:hover span.VP-display-hover{display:inline-block}.VP-display-hover{display:none}
.VP-display-position{position:absolute}
.VP-circle{border-radius:50%}
.VP-round-small{border-radius:2px}.VP-round,.VP-round-medium{border-radius:4px}.VP-round-large{border-radius:8px}.VP-round-xlarge{border-radius:16px}.VP-round-xxlarge{border-radius:32px}
.VP-row-padding,.VP-row-padding>.VP-half,.VP-row-padding>.VP-third,.VP-row-padding>.VP-twothird,.VP-row-padding>.VP-threequarter,.VP-row-padding>.VP-quarter,.VP-row-padding>.VP-col{padding:0 8px}
.VP-container,.VP-panel{padding:0.01em 16px}.VP-panel{margin-top:16px;margin-bottom:16px}
.VP-code,.VP-codespan{font-family:Consolas,"courier new";font-size:16px}
.VP-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.VP-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.VP-card,.VP-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.VP-card-4,.VP-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.VP-spin{animation:VP-spin 2s infinite linear}@keyframes VP-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.VP-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.VP-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.VP-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.VP-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.VP-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.VP-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.VP-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.VP-animate-input{transition:width 0.4s ease-in-out}.VP-animate-input:focus{width:100%!important}
.VP-opacity,.VP-hover-opacity:hover{opacity:0.60}.VP-opacity-off,.VP-hover-opacity-off:hover{opacity:1}
.VP-opacity-max{opacity:0.25}.VP-opacity-min{opacity:0.75}
.VP-greyscale-max,.VP-grayscale-max,.VP-hover-greyscale:hover,.VP-hover-grayscale:hover{filter:grayscale(100%)}
.VP-greyscale,.VP-grayscale{filter:grayscale(75%)}.VP-greyscale-min,.VP-grayscale-min{filter:grayscale(50%)}
.VP-sepia{filter:sepia(75%)}.VP-sepia-max,.VP-hover-sepia:hover{filter:sepia(100%)}.VP-sepia-min{filter:sepia(50%)}
.VP-tiny{font-size:10px!important}.VP-small{font-size:12px!important}.VP-medium{font-size:15px!important}.VP-large{font-size:18px!important}
.VP-xlarge{font-size:24px!important}.VP-xxlarge{font-size:36px!important}.VP-xxxlarge{font-size:48px!important}.VP-jumbo{font-size:64px!important}
.VP-left-align{text-align:left!important}.VP-right-align{text-align:right!important}.VP-justify{text-align:justify!important}.VP-center{text-align:center!important}
.VP-border-0{border:0!important}.VP-border{border:1px solid #ccc!important}
.VP-border-top{border-top:1px solid #ccc!important}.VP-border-bottom{border-bottom:1px solid #ccc!important}
.VP-border-left{border-left:1px solid #ccc!important}.VP-border-right{border-right:1px solid #ccc!important}
.VP-topbar{border-top:6px solid #ccc!important}.VP-bottombar{border-bottom:6px solid #ccc!important}
.VP-leftbar{border-left:6px solid #ccc!important}.VP-rightbar{border-right:6px solid #ccc!important}
.VP-section,.VP-code{margin-top:16px!important;margin-bottom:16px!important}
.VP-margin{margin:16px!important}.VP-margin-top{margin-top:16px!important}.VP-margin-bottom{margin-bottom:16px!important}
.VP-margin-left{margin-left:16px!important}.VP-margin-right{margin-right:16px!important}
.VP-padding-small{padding:4px 8px!important}.VP-padding{padding:8px 16px!important}.VP-padding-large{padding:12px 24px!important}
.VP-padding-16{padding-top:16px!important;padding-bottom:16px!important}.VP-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.VP-padding-32{padding-top:32px!important;padding-bottom:32px!important}.VP-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.VP-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.VP-left{float:left!important}.VP-right{float:right!important}
.VP-button:hover{color:#000!important;background-color:#ccc!important}
.VP-transparent,.VP-hover-none:hover{background-color:transparent!important}
.VP-hover-none:hover{box-shadow:none!important}
/* Colors */
.VP-amber,.VP-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.VP-aqua,.VP-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.VP-blue,.VP-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.VP-light-blue,.VP-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.VP-brown,.VP-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.VP-cyan,.VP-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.VP-blue-grey,.VP-hover-blue-grey:hover,.VP-blue-gray,.VP-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.VP-green,.VP-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.VP-light-green,.VP-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.VP-indigo,.VP-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.VP-khaki,.VP-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.VP-lime,.VP-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.VP-orange,.VP-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.VP-deep-orange,.VP-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.VP-pink,.VP-hover-pink:hover{color:rgb(0, 0, 0)!important;background-color:#e91e63!important}
.VP-purple,.VP-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.VP-deep-purple,.VP-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.VP-red,.VP-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.VP-sand,.VP-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.VP-teal,.VP-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.VP-yellow,.VP-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.VP-white,.VP-hover-white:hover{color:#000!important;background-color:#fff!important}
.VP-black,.VP-hover-black:hover{color:#fff!important;background-color:#000!important}
.VP-grey,.VP-hover-grey:hover,.VP-gray,.VP-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.VP-light-grey,.VP-hover-light-grey:hover,.VP-light-gray,.VP-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.VP-dark-grey,.VP-hover-dark-grey:hover,.VP-dark-gray,.VP-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.VP-pale-red,.VP-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.VP-pale-green,.VP-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.VP-pale-yellow,.VP-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.VP-pale-blue,.VP-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.VP-text-amber,.VP-hover-text-amber:hover{color:#ffc107!important}
.VP-text-aqua,.VP-hover-text-aqua:hover{color:#00ffff!important}
.VP-text-blue,.VP-hover-text-blue:hover{color:#2196F3!important}
.VP-text-light-blue,.VP-hover-text-light-blue:hover{color:#87CEEB!important}
.VP-text-brown,.VP-hover-text-brown:hover{color:#795548!important}
.VP-text-cyan,.VP-hover-text-cyan:hover{color:#00bcd4!important}
.VP-text-blue-grey,.VP-hover-text-blue-grey:hover,.VP-text-blue-gray,.VP-hover-text-blue-gray:hover{color:#607d8b!important}
.VP-text-green,.VP-hover-text-green:hover{color:#4CAF50!important}
.VP-text-light-green,.VP-hover-text-light-green:hover{color:#8bc34a!important}
.VP-text-indigo,.VP-hover-text-indigo:hover{color:#3f51b5!important}
.VP-text-khaki,.VP-hover-text-khaki:hover{color:#b4aa50!important}
.VP-text-lime,.VP-hover-text-lime:hover{color:#cddc39!important}
.VP-text-orange,.VP-hover-text-orange:hover{color:#ff9800!important}
.VP-text-deep-orange,.VP-hover-text-deep-orange:hover{color:#ff5722!important}
.VP-text-pink,.VP-hover-text-pink:hover{color:#e91e63!important}
.VP-text-purple,.VP-hover-text-purple:hover{color:#9c27b0!important}
.VP-text-deep-purple,.VP-hover-text-deep-purple:hover{color:#673ab7!important}
.VP-text-red,.VP-hover-text-red:hover{color:#f44336!important}
.VP-text-sand,.VP-hover-text-sand:hover{color:#fdf5e6!important}
.VP-text-teal,.VP-hover-text-teal:hover{color:#009688!important}
.VP-text-yellow,.VP-hover-text-yellow:hover{color:#d2be0e!important}
.VP-text-white,.VP-hover-text-white:hover{color:#fff!important}
.VP-text-black,.VP-hover-text-black:hover{color:#000!important}
.VP-text-grey,.VP-hover-text-grey:hover,.VP-text-gray,.VP-hover-text-gray:hover{color:#757575!important}
.VP-text-light-grey,.VP-hover-text-light-grey:hover,.VP-text-light-gray,.VP-hover-text-light-gray:hover{color:#f1f1f1!important}
.VP-text-dark-grey,.VP-hover-text-dark-grey:hover,.VP-text-dark-gray,.VP-hover-text-dark-gray:hover{color:#3a3a3a!important}
.VP-border-amber,.VP-hover-border-amber:hover{border-color:#ffc107!important}
.VP-border-aqua,.VP-hover-border-aqua:hover{border-color:#00ffff!important}
.VP-border-blue,.VP-hover-border-blue:hover{border-color:#2196F3!important}
.VP-border-light-blue,.VP-hover-border-light-blue:hover{border-color:#87CEEB!important}
.VP-border-brown,.VP-hover-border-brown:hover{border-color:#795548!important}
.VP-border-cyan,.VP-hover-border-cyan:hover{border-color:#00bcd4!important}
.VP-border-blue-grey,.VP-hover-border-blue-grey:hover,.VP-border-blue-gray,.VP-hover-border-blue-gray:hover{border-color:#607d8b!important}
.VP-border-green,.VP-hover-border-green:hover{border-color:#4CAF50!important}
.VP-border-light-green,.VP-hover-border-light-green:hover{border-color:#8bc34a!important}
.VP-border-indigo,.VP-hover-border-indigo:hover{border-color:#3f51b5!important}
.VP-border-khaki,.VP-hover-border-khaki:hover{border-color:#f0e68c!important}
.VP-border-lime,.VP-hover-border-lime:hover{border-color:#cddc39!important}
.VP-border-orange,.VP-hover-border-orange:hover{border-color:#ff9800!important}
.VP-border-deep-orange,.VP-hover-border-deep-orange:hover{border-color:#ff5722!important}
.VP-border-pink,.VP-hover-border-pink:hover{border-color:#e91e63!important}
.VP-border-purple,.VP-hover-border-purple:hover{border-color:#9c27b0!important}
.VP-border-deep-purple,.VP-hover-border-deep-purple:hover{border-color:#673ab7!important}
.VP-border-red,.VP-hover-border-red:hover{border-color:#f44336!important}
.VP-border-sand,.VP-hover-border-sand:hover{border-color:#fdf5e6!important}
.VP-border-teal,.VP-hover-border-teal:hover{border-color:#009688!important}
.VP-border-yellow,.VP-hover-border-yellow:hover{border-color:#ffeb3b!important}
.VP-border-white,.VP-hover-border-white:hover{border-color:#fff!important}
.VP-border-black,.VP-hover-border-black:hover{border-color:#000!important}
.VP-border-grey,.VP-hover-border-grey:hover,.VP-border-gray,.VP-hover-border-gray:hover{border-color:#9e9e9e!important}
.VP-border-light-grey,.VP-hover-border-light-grey:hover,.VP-border-light-gray,.VP-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.VP-border-dark-grey,.VP-hover-border-dark-grey:hover,.VP-border-dark-gray,.VP-hover-border-dark-gray:hover{border-color:#616161!important}
.VP-border-pale-red,.VP-hover-border-pale-red:hover{border-color:#ffe7e7!important}.VP-border-pale-green,.VP-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.VP-border-pale-yellow,.VP-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.VP-border-pale-blue,.VP-hover-border-pale-blue:hover{border-color:#e7ffff!important}
/* RESPONSIVE RULES */

body .mobile{
    display: inline-block;
}
body .desktop{
    display: inline-block;
}

@media screen and (max-width : 732px ) {
    body .mobile{
        display : inline-block;
    }
    body .desktop{
        display :none;
    }

}
/* FOOTER */
footer h1{
    padding : 10px;
    background-color:red;
    color: blue;
    

    
}
